<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вопросы</title>
    <style>@import '/static/page.css';</style>
</head>
<body>
    {% if show_results %}
        <h1>Список ответов в базе: (всего {{ results.count }})</h1>
        {% for result in results %}
            <h3>Ответ: {{ forloop.counter }} ({{ result.iden }})</h3>
            {% autoescape off %}
                {{ result.content }}
            {% endautoescape %}
        {% empty %}
            По этому тесту пока ответов нет.
        {% endfor %}
    {% else %}
        <ul>
            {% for link,name in test_names %}
                <li><a href="?test={{ link }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>